/* CSS styles */

:root {
  --accent-color: #f57600;
  --accent-color-dark: #b45503;
  --normal-font-size: 14px;
}

body {
  width: 430px;
  height: 160px;
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding: 10px;
  padding-right: 0px;
  margin: 10px;
  margin-right: 7px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  height: 140px;
  display: flex;
  margin: auto;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: filter 0.3s;
  height: 177px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 175px;
  height: 175px;
  margin-right: 25px;
}

.price-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  text-align: left;
}

#price-caption {
  font-weight: 700;
  font-size: 21px;
  color: white;
}

#price-value {
  font-weight: 700;
  font-size: 21px;
  color: var(--accent-color);
}

#priceChange, #satsPerUsd, #slogan {
  font-size: var(--normal-font-size);
  text-align: left;
}

#slogan {
  height: 20px; /* Set a fixed height for the slogan container */
  width: 100%;
  color: var(--accent-color);
  align-self: flex-end;
  text-align: left;
}

#toggleDemo {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  font-size: 9px;
  cursor: pointer;
  border-radius: 4px;
}

#toggleDemo.active {
  background: var(--accent-color);
  color: white;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid var(--accent-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading .content {
  filter: blur(5px);
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link {
  text-align: right;
  margin-top: -3px;
  padding-bottom: 5px;
}

.footer-link a {
  color: var(--accent-color-dark);
  font-size: 9px;
  text-decoration: none;
}

.footer-link a:hover {
  color: lighten(var(--accent-color-dark), 20%);
}

.footer-link a:visited {
  color: var(--accent-color-dark);
}

.footer-link a[title] {
  position: relative;
}

.footer-link a[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  right: 0;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 10;
  border: 1px solid white; /* var(--accent-color);*/
  font-size: 12px;
}
